<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="subjects-div(list)">
    <div class="tab-content">
        <div  id="note-full-container" class="note-has-grid row">
            <th:block th:if="${list ne null}">
                <th:block th:each="item : ${list}">
                    <th:block th:replace="fragments/subject/subject-card :: subject-card(${item})"></th:block>
                </th:block>
            </th:block>
            <th:block th:unless="${list ne null}">
                <div class="col-md-4 single-note-item all-category">
                    <div class="card card-body ">
                        No subjects found
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <th:block th:replace="~{fragments/common/ui-pagination :: ui-pagination}"></th:block>
</th:block>