<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="subject-tab">
    <ul class="nav nav-pills p-3 bg-white mb-3 align-items-center">
        <li class="nav-item"> <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center active px-3 px-md-3 me-0 me-md-2"  id="all-category">
            <i data-feather="list" class="feather-sm fill-white me-0 me-md-1"></i><span class="d-none d-md-block font-weight-medium">All Notes</span></a>
        </li>
        <li class="nav-item"> <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center px-3 px-md-3 me-0 me-md-2" id="note-business">
            <i data-feather="briefcase" class="feather-sm fill-white me-0 me-md-1"></i><span class="d-none d-md-block font-weight-medium">Business</span></a>
        </li>
        <li class="nav-item"> <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center px-3 px-md-3 me-0 me-md-2" id="note-social">
            <i data-feather="share-2" class="feather-sm fill-white me-0 me-md-1"></i><span class="d-none d-md-block font-weight-medium">Social</span></a>
        </li>
        <li class="nav-item"> <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center px-3 px-md-3 me-0 me-md-2" id="note-important">
            <i data-feather="star" class="feather-sm fill-white me-0 me-md-1"></i><span class="d-none d-md-block font-weight-medium">Important</span></a>
        </li>
        <li class="nav-item ms-auto"> <a href="javascript:void(0)" class="nav-link btn-primary rounded-pill d-flex align-items-center px-3" id="add-notes">
            <i data-feather="file" class="feather-sm fill-white me-0 me-md-1"></i><span class="d-none d-md-block font-weight-medium fs-3">Add Notes</span></a>
        </li>
    </ul>
</th:block>